.cor{
    width: 100%;
    height: 17px;
    flex-shrink: 0;
    background: rgb(0, 0, 0);
    }
    .logo{
        width: 100%; 
        height: 80%; 
        background: WHITE;
    }
    .img1{
        width: 100%;
    
    }
    .cor_maior{
        width: 100%;
        height: 10%;
        flex-shrink: 0;
        background: #DCDCDC;
    }
    .imagens{
        grid: 25%;
        min-width: auto;
        max-width: fit-content;
    }